*{
    background-color: black;
    color: antiquewhite;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}

.poster {
    width: 50%;
    margin-left: 25%;
    margin-top: 20px;
    text-align: center;
}

img {
    /* height: 50vh; */
    width: 100%;
    border: solid antiquewhite 5px;
    border-radius: 20px;
}

p {
    font-size: 150%;
    font-family: "Dancing Script", cursive;
    margin-bottom: 50px;
}
